[flake8]
basepython = python3.8
max-line-length = 88
extend-ignore = E203
max-complexity = 10
deps=
      flake8
      flake8-import-order
      flake8-broken-line
      flake8-builtins
      flake8-functions
      pydocstyle
